@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  border-color: black;
}
::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    border-color: white;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

tr > td {
  border: 1px solid black;
  font-size: small;
}

ul {
  @apply w-full h-full flex flex-col gap-2;
}

ul > li {
  @apply w-max px-2 py-1 bg-sky-600 rounded-xl;
}

ul > li:hover {
  @apply bg-sky-500 cursor-pointer;
}

.text-heroic {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
}

.text-description {
  font-size: clamp(0.5rem, 2vw + 0.25rem, 1rem);
  
}


.text-stroke {
  -webkit-text-stroke: 2px black;
  color: transparent;
}

#bg-mask > div {
  @apply h-1/3 ;
}

.blend {
  @apply mix-blend-lighten text-black bg-white/80;
}